.divider {
  margin: 5rem auto;
  width: 55%;
  & img {
    width: 100%;
  }
}
.big-title {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.big-title-2 {
  text-align: center;
  & img {
    width: 70%;
  }
}
.big-title-3 {
  text-align: center;
  & img {
    width: 20%;
  }
}
.big-title-img {
  text-align: center;
  & img {
    width: 50%;
  }
}
.small-title {
  font-size: 1.5rem;
  color: white;
  line-height: 2.5rem;
  margin: 2rem auto;
}

.cotent-box {
  width: 55%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gift {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 3rem auto;
  &__item {
    width: 25%;
    color: white;
    & img {
      width: 100%;
    }
    & div {
      font-size: 1.3rem;
      text-align: center;
      margin-top: 0.5rem;
    }
  }
}
.invite {
  display: flex;
  width: 100%;
  margin: 3rem auto 25%;
  justify-content: space-between;
  &__item {
    position: relative;
    width: 15%;
    color: white;
    & img {
      width: 100%;
      position: absolute;
      &:nth-child(1) {
        z-index: 9;
      }
      &:nth-child(2) {
        -webkit-mask: url('../img/icon-add.png') no-repeat center center / contain;
        mask: url('../img/icon-add.png') no-repeat center center / contain;
      }
    }
  }
  &__btn {
    text-align: center;
    & img {
      width: 65%;
      margin: 0 auto;
    }
  }
}

//遊戲介紹
.info {
  width: 55%;
  margin: 5rem auto;
  color: white;
}
.info-1 {
  display: flex;
  align-items: center;
  & img {
    width: 70%;
  }
  & div {
    // width: 90%;
    margin: 0 3rem 0 1rem;
  }
}
.info-2 {
  display: flex;
  align-items: center;
  & img {
    width: 70%;
  }
  & div {
    // width: 90%;
    margin: 0 1rem 0 3rem;
  }
}
.info-3 {
  display: flex;
  align-items: flex-start;
  width: 60%;
  margin: 0 auto;
  & img {
    width: 100%;
  }
  & div {
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
  }
  & .small-title {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.info-pic {
  width: 100%;
}

.content-reserve {
  text-align: center;
  margin: 5rem auto 7rem;
  & img {
    width: 15%;
    margin: 3.5rem 1.5rem 0;
  }
}
.link {
  width: 55%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  & a {
    width: 30%;
  }
  & img {
    width: 100%;
  }
}

//注意事項
.notice {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-bottom: 5rem;
  color: white;
  & .txt {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}

@media (max-width: 992.98px) {
  .divider,
  .cotent-box,
  .info,
  .link,
  .notice,
  .info-3 {
    width: 90%;
  }
  .info-1 {
    flex-direction: column;
    & img {
      width: 100%;
    }
    & div {
      width: 90%;
      margin: 0 auto;
    }
  }
  .info-2 {
    flex-direction: column-reverse;
    margin: 5rem auto;
    & img {
      width: 100%;
    }
    & div {
      width: 90%;
      margin: 0 auto;
    }
  }
  .content-reserve img {
    width: 30%;
  }
}

@media (max-width: 767.98px) {
  .gift {
    margin: 0 auto;
    &__item {
      width: 50%;
      & div {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 0;
      }
    }
  }
  .big-title img {
    width: 100%;
  }
  .big-title-img img {
    width: 80%;
  }
  .big-title-2 img {
    width: 100%;
  }
  .invite {
    margin: 0rem auto 25%;
  }
  .invite__btn img {
    width: 50%;
    margin: 0 auto 2rem;
  }
  .info {
    margin: 2rem auto;
  }
  .divider {
    margin: 4rem auto;
  }
  .info-3 .small-title {
    text-align: justify;
  }
  .content-reserve {
    margin: 2rem auto 5rem;
    & img {
      width: 40%;
      margin: 3.5rem 0.5rem 0;
    }
  }
  .notice {
    padding-bottom: 15rem;
  }
  .big-title-3 img {
    width: 50%;
  }
}

@media (max-width: 320.98px) {
  .countdown__center .day {
    font-size: 2rem;
  }
}
