//預註冊人數
.box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 5rem auto 0;
  background-color: white;
  width: 50%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s linear;
  transform: translate(0, 0);
  transform-origin: bottom right;
}

.countdown {
  position: relative;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  transition: 0.5s linear;
  transform: translate(0, 0);
  transform-origin: bottom right;
  z-index: 999;

  //放在js縮小後的css - 要刪掉
  // transform: translate(50%, 702.75px);
  // position: fixed;
  // right: 13vw;
  // bottom: 75vh;

  &__top {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 0.9% 0;
    background: url(../img/frame-top.png);
    background-repeat: no-repeat;
    background-position: 50% 0px;
    background-size: 55%;

    // width: 70%;
    // padding: 0.7% 0;
  }

  //進度條
  & .goal {
    width: 47%;
    margin: 2rem auto 4rem;
    & .start_end_time{
      color: white;
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    & .progress {
      height: 35px;
      border-radius: 1rem;
    }
    //進度條背景
    .progress-bar {
      background-color: #ffb837 !important;
    }
    &__count {
      position: relative;
      color: white;
      & .line {
        width: 1px;
        height: 25px;
        background: white;
        margin: 0.5rem 0;
      }

      & .count-2000 {
        position: absolute;
        width: 20%;
        top: 0;
        // left: 3.3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      & .count-5000 {
        position: absolute;
        width: 50%;
        top: 0;
        // left: 10.3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      & .count-10000 {
        position: absolute;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      & .count-20000 {
        position: absolute;
        top: 0;
        right: -1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }

  &__center {
    padding: 3rem 0;
    margin: auto;
    width: 100%;
    height: auto;
    background: url(../img/frame.png);
    background-repeat: repeat-y;
    background-position: 50% 0px;
    background-size: 55%;
    text-align: center;
    & .day {
      font-size: 5rem;
      color: #ffb837;
      display: flex;
      justify-content: center;
      align-items: baseline;
      margin-bottom: 4rem;
      & .colon {
        font-size: 3.5rem;
      }
      & .timer__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1;
      }
      & .mini {
        font-size: 1rem;
        color: white;
      }
    }
  }
  &__bottom {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 0.7% 0;
    background: url(../img/frame-top.png);
    background-repeat: no-repeat;
    background-position: 50% 0px;
    background-size: 55%;
    transform: rotate(180deg);
  }
}

//右下進度條
.countdown-bot {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  transition: 0.5s linear;
  transform: translate(0, 0);
  transform-origin: bottom right;

  &__top {
    margin: auto;
    width: 40%;
    height: auto;
    padding: 1.5% 0;
    background: url(../img/frame-top_320.png);
    background-repeat: no-repeat;
    background-position: 50% 0px;
    background-size: 55%;

    // width: 70%;
    // padding: 0.7% 0;
  }

  //進度條
  & .goal {
    width: 47%;
    margin: 1rem auto;
    & .progress {
      height: 10px;
      border-radius: 1rem;
    }
    //進度條背景
    .progress-bar {
      background-color: #ffb837 !important;
    }
  }

  &__center {
    padding: 0 0 1.5rem;
    margin: auto;
    width: 40%;
    height: auto;
    background: url(../img/frame_320.png);
    background-repeat: repeat-y;
    background-position: 50% 0px;
    background-size: 55%;
    text-align: center;
    & .day {
      font-size: 2rem;
      color: #ffb837;
    }
  }
  &__bottom {
    margin: auto;
    width: 40%;
    height: auto;
    padding: 1.3% 0;
    background: url(../img/frame-top_320.png);
    background-repeat: no-repeat;
    background-position: 50.4% 0px;
    background-size: 55%;
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
  }
  &__reserve {
    text-align: center;
    & img {
      width: 20%;
      margin: 0 0.5rem;
    }
  }
}

.countdown-mobile {
  display: none;
}
//預約按鈕
.reserve {
  text-align: center;
  & img {
    width: 15%;
    margin: 3.5rem 1.5rem 0;
    //margin: 0 1.5rem;
  }
}

@media (max-width: 1400.98px) {
  .countdown {
    &__center {
      & .day {
        font-size: 4rem;
      }
    }
  }
}
@media (max-width: 1199.98px) {
  .countdown {
    &__top {
      margin: auto;
      width: 100%;
      height: auto;
      padding: 0.9% 0;
      background: url(../img/frame-top.png) no-repeat 50% 0px;
      background-size: 70%;
    }
    & .goal {
      width: 60%;
    }
    &__center {
      padding: 3rem 0;
      margin: auto;
      width: 100%;
      height: auto;
      background: url(../img/frame.png) repeat-y 50% 0px;
      background-size: 70%;
      & .day {
        font-size: 5rem;
        color: #ffb837;
      }
    }
    &__bottom {
      margin: auto;
      width: 100%;
      height: auto;
      padding: 0.7% 0;
      background: url(../img/frame-top.png) no-repeat 50% 0px;
      background-size: 70%;
    }
  }
}
@media (max-width: 992.98px) {
  .countdown {
    &__center {
      & .day {
        font-size: 4rem;
        & .colon {
          font-size: 2.5rem;
        }
      }
    }
  }

  .countdown-bot {
    margin: 0 5% 0 0;

    &__top {
      width: 60%;
      padding: 2.5% 0;
    }

    &__center {
      width: 60%;

      & .day {
        font-size: 1.5rem;
        color: #ffb837;
      }
    }
    &__bottom {
      width: 60%;
      padding: 2% 0;
      background-position: 50% 0px;
    }
    &__reserve {
      text-align: center;
      & img {
        width: 20%;
        margin: 0 0.5rem;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .countdown {
    &__top {
      margin: auto;
      width: 100%;
      height: auto;
      padding: 1.4% 0;
      background: url(../img/frame-top.png) no-repeat 50% 0px;
      background-size: 90%;
    }
    & .goal {
      width: 80%;
      & .progress {
        height: 25px;
      }
    }
    &__center {
      padding: 3rem 0;
      margin: auto;
      width: 100%;
      height: auto;
      background: url(../img/frame.png) repeat-y 50% 0px;
      background-size: 90%;
      & .day {
        font-size: 2.5rem;
      }
    }
    &__bottom {
      margin: auto;
      width: 100%;
      height: auto;
      padding: 1.5% 0;
      background: url(../img/frame-top.png) no-repeat 50% 0px;
      background-size: 90%;
    }
  }

  .reserve img {
    width: 35%;
    margin: 3.5rem 0.5rem 0;
  }

  .countdown-bot {
    display: none;
  }
  .countdown-mobile {
    display: block;
    position: fixed;
    z-index: 999;
    left: 0;
    bottom: 0;
    margin: auto;
    background: #2b1711;

    //進度條
    & .goal {
      width: 100;
      & .progress {
        height: 10px;
      }
      //進度條背景
      .progress-bar {
        background-color: #ffb837 !important;
      }
    }

    &__center {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;

      & .day {
        font-size: 1.7rem;
        color: #ffb837;
        width: 50%;
        text-align: center;
      }
    }

    &__reserve {
      width: 50%;
      display: flex;
      text-align: center;
      & img {
        width: 95%;
      }
    }
  }
}

@media (max-width: 414.98px) {
  .countdown__center {
    padding: 1.5rem 0;
    & .day {
      margin-bottom: 2rem;
    }
  }
  .reserve img {
    margin: 2rem 0.5rem 0;
  }
}
@media (max-width: 375.98px) {
  .countdown-mobile {
    &__center {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 0.5rem;

      & .day {
        font-size: 1.5rem;
      }
    }
  }
}
