.content-wrapper {
  background: #feceab;
  background: -moz-linear-gradient(top, #feceab 0%, #ad6989 100%);
  background: -webkit-linear-gradient(top, #feceab 0%, #ad6989 100%);
  background: linear-gradient(to bottom, #feceab 0%, #ad6989 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feceab', endColorstr='#ad6989',GradientType=0 );
}
.demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 2px solid white;
  color: white;
}
